.home {
  width: 90%;
  margin: 0 auto;
  &__header {
    text-align: center;
    &__logo {
      margin: 20px;
      margin-top: 50px;
      border: 5px solid white;
      border-radius: 50%;
      width: 128px;
    }
    &__connector {
      margin: 5px auto;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $transparent-white;
      &::after {
        content: '';
        margin: 10px auto;
        margin-top: 40px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $transparent-white;
        display: block;
      }
    }
  }
  &__content {
    & h1 {
      font-size: 2em;
    }
    & div {
      border-top: 5px solid white;
      background: white;
      margin: 10px 0;
      padding: 10px;
    }
    @for $i from 1 through length($rainbow-bar-colors) {
      & div:nth-child(#{$i}n) {
        border-color: nth($rainbow-bar-colors, $i);
      }
    }
  }
}