.home {
  @extend .container;
  &__header {
    text-align: center;
    &__logo {
      margin: 20px;
      border: 5px solid white;
      border-radius: 50%;
      width: 128px;
      box-shadow: 0px -5px 50px 10px rgba(255, 255, 255, 0.3);
    }
    &__connector {
      margin: 5px auto;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $transparent-white;
      &::after {
        content: '';
        margin: 10px auto;
        margin-top: 40px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $transparent-white;
        display: block;
      }
    }
  }
  &__content {
    &__post {
      border-top: 5px solid white;
      background: white;
      margin: 50px 0;
      padding: 20px;
      &-title {
        margin-bottom: 10px;
        padding-bottom: 10px;
        & h1 {
          &:hover {
            @include linkHover();
          }
        }
      }
      &-body {}
      &:first-child {
        margin-top: 10px;
      }
    }
    @for $i from 1 through length($rainbow-bar-colors) {
      & div:nth-child(#{$i}n) {
        border-color: nth($rainbow-bar-colors, $i);
      }
    }
  }
}