@import 'reset';
@import 'base/base';
@import 'theme';
@import 'home';
@import 'post_read';


body {
  background: map-get($colors, background);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: map-get($colors, text);
}

h1 {
  @include heading(2em);
}

h2 {
  @include heading(1.7em);
}

h3 {
  @include heading(1.5em);
}

a {
  text-decoration: none;
}
a:hover{
  @include linkHover();
}

.main {
  &__header {
    box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.5);
    background: white;
    &__logo {
      padding: 0.5em;
      & a {
        font-family: 'Bree Serif', serif;
        & h1:hover {
          @include linkHover();
        }
      }
    }
    &__rainbow {
      content: '';
      display: flex;
      width: 100%;
      height: 5px;
      background: salmon;
      flex-wrap: nowrap;
      & div {
        flex-grow: 1;
      }
      @for $i from 1 through length($rainbow-bar-colors) {
        & :nth-child(#{$i}n) {
          background: nth($rainbow-bar-colors, $i);
        }
      }
    }
  }
}