<div class="post_read">
  <h1>Angular => extend, copy & merge</h1>
  Superheroic AngularJs comes with a set of utility functions which are not specific to angular and can be leveraged anywhere. In this post, we will discuss angular.copy(), angular.extend() & angular.merge(). Before delving into these, we need to take a walk through two important concepts Deep Copy and Shallow Copy cause these functions linger around these concepts or I can say that these functions are used for Deep Copy and Shallow Copy. Deep Copy: Shallow Copy:
</div>