<article class="post_read">
  <!--Post Header-->
  <header>
    <h1 class="post_read__title">"display" of Floated Element</h1>
  </header>
  <section>
    <p>
      Today when I was playing with <code>float</code>, I found that I was able to apply <code>margin</code>, <code>padding</code>, <code>width</code> &amp; <code>height</code> to <em>floated element</em> even though the element was an <code>inline</code> element which made me curious to peep under the hood. So I delved more and found that <code>float</code> dictates it's own behvaiour regards to some properties eg. width &amp; height and overrides <code>display</code> property.
    </p>
    <p>
      For an element, whenever <code>float</code> is set to <code>left</code> or <code>right</code>, <code>float</code> sets its <code>display</code> value to <code>block</code>(if it's not none) but it dictacts it's own rule. eg. if no <code>width</code> is provided then an standard block element takes 100% width of parent but in case of <code>float</code> it takes as much as it needs. I have created a codepen to play around and see it's behaviour. Please feel free to fork it and edit it.
    </p>
    <!--fiddle-->
    <div class="post_read__live_example">
      <p data-height="400" data-theme-id="0" data-slug-hash="YNKJaG" data-default-tab="result" data-user="programmerhk" data-embed-version="2" data-pen-title="Display of floated Element" class="codepen">See the Pen <a href="http://codepen.io/programmerhk/pen/YNKJaG/">Display of floated Element</a> by Hitesh Kumar (<a href="http://codepen.io/programmerhk">@programmerhk</a>) on <a href="http://codepen.io">CodePen</a>.</p>
      <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
    </div>
  </section>
  <!-- Post Footer-->
  <footer>
    <div id="disqus_thread"></div>
    <!--Discuss-->
    <script>
      var disqus_config = function () {
        this.page.url = "https://smellycode.com/#/display-of-floated-element.html";
      };
      (function () { // DON'T EDIT BELOW THIS LINE
        var d = document,
          s = d.createElement('script');
        s.src = '//smelly-code.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </footer>
</article>