$colors: (
  background: #ffffff,
  text: #333333,
  hover: #e84a5f,
  active: #3b94d9
);
$font-family: 'Bree Serif', serif;
$base-color: white;
$transparent-white: rgba(255, 255, 255, 0.7);
$rainbow-bar-colors: #F44336, #E91E63, #9B27AF, #673ab7, #3f51b5, #2196f3, #03a9f4, #00bcd4, #009688, #4caf50, #8bc34a, #cddc39, #ffeb3b, #ffc107, #ff9800, #ff5722, #795548, #9e9e9e, #607d8b;
